#无用的word和pdf
*.pdf

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.json

*test*.*
*output*.*
*example*.*
*.tmp
*temp*
#文件夹
easy-rl
IntelligentSystem
*.zip
*.egg
AIsys/跨越险阻仿真赛软件
*.pyc
*.rar
*.7z
ParrallelPrograming/3d
*.ppt
*.pptx
*.vscode
NLP/HW1/sgns.target.word-word.dynwin5.thr10.neg5.dim300.iter5
RL/RLexample
*result*.*
*.pkl
RL/rainbow-is-all-you-need
ComputerCompositionandArchitecture/计算机组成原理/自测题/__MACOSX
.DS_Store
*.aux
*.synctex.gz
*.log
ComputerCompositionandArchitecture/计算机组成原理/自测题/*
*.gv

CV/HW6/data/FashionMNIST
CV/HW6/*.pth
*.pickle
